.titulo {
  color: #f0eeee !important;
}

.tabTexto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabText {
  font-size: 16px !important;
  font-weight: bold !important;

}

.header {
  background-color: #370617;
  color: #fff;
}