body {
  background-color: #181717;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;

}

.backBox {
  height: calc(100vh - 105px - 55px);
  padding-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row !important;
  flex-wrap: nowrap;
}

.cardback {
  border-radius: 18px !important;
  background: #e0e0e0 !important;
  box-shadow: 5px 5px 10px #5a5a5a,
    -5px -5px 10px #ffffff !important;
  margin-top: 30px !important;
  margin-right: 50px;
}


.text-decorator-none {
  text-decoration: none;
}

.botaoAtualizarTema {
  background: #181717 !important;
  color: #ffffff !important;
}

.botaoDeletar {
  background: #181717 !important;
  margin-left: 10px !important;

}

.textos {
  color: #181717;
  text-align: left;
}