@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

/* cor de fundo da navbar */
.back {
  background: #181717 !important;
  box-shadow: 0px 3px 20px 0px #370617 !important;
  backdrop-filter: blur(4px) !important;
  border-bottom: 1px solid #370617 !important;
}

/* Posicaos dos itens na navbar */
.positionItem {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* invertendo a posição dos items na navbar */
.MuiToolbar-root {
  justify-content: center;
  flex-direction: row-reverse;
}

/* ajustando tamanho da imagem */
.imagem {
  width: 100px;
  height: 100px;
  border-radius: 72% 28% 77% 23% / 21% 78% 22% 79%;
  transition: all 0.5s;
}

.imagem:hover {
  opacity: 0.3;
  -webkit-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}


/* Ajustando estilos da fonte */
.span {
  font-family: 'Amatic SC', cursive !important;
  font-size: 28px !important;
  color: #fff;
  transition: all 0.7s;
}

.span:hover {
  color: #d00000 !important;

}

.textItem {
  padding-right: 10px;
  transition: all 0.7s;
}

.textItem:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

}

/* Deixa o link to sem sublinhado */
.textDecorationNone {
  text-decoration: none;
}