/* importando fonte */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* Grid da box transparente com texto */
.grid1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* box transparente */
.box1 {
  /*posicionamento */
  display: flex;
  align-items: center;
  padding: 10px;
  width: 310px;
  /* coloração */
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px groove #47071e;

  /* tamanho da box */
  height: 300px;
  /* alinhamento do texto */
  text-align: center;
}

/* texto da box transparente */
.texto {
  color: #ffffff;
  font-family: 'Amatic SC', cursive !important;
  font-size: 40px !important;
}

/* segundo texto */
.text2 {
  color: #ffffff;
  font-family: 'Amatic SC', cursive !important;
  font-size: 21px !important;
}

/* Grid da imagem */
.grid2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* botao */
.butao {
  margin-top: 20px !important;
  border-radius: 10px !important;
  border: 1px groove #47071e !important;
}

.butao:hover,
.butao:focus {
  box-shadow: inset 0 0 0 2em #47071e !important;
}

/* Classe do botao criada pelo mui */
.MuiButton-root {
  color: #ffffff !important;
  /* cor do texto do botao  */
  font-family: 'Amatic SC', cursive !important;
  font-size: 23px !important;
}

.imagemGrid {
  transition: all 0.5s;
  cursor: pointer;
}

.imagemGrid:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.2);
  cursor: none;
}

/* É o Grid maior por trás dos dois */
.gridmaior {
  background-color: #181717;
  height: 100vh;
  align-items: center;
  justify-content: center;
}