/* importando fonte */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');


/* Grid da box transparente com texto */
.grid1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* box transparente */
.box1 {
  /*posicionamento */
  display: flex;
  align-items: center;
  padding: 10px;
  width: 310px;
  /* coloração */
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px groove #e5989b;
  box-shadow: 5px 5px 10px #583d3e,
    -5px -5px 10px #e5989b !important;
  /* tamanho da box */
  height: 300px;
  /* alinhamento do texto */
  text-align: center;
}

/* texto da box transparente */
.texto {
  color: #ffffff;
  font-family: 'Amatic SC', cursive !important;
  font-size: 40px !important;
}

/* segundo texto */
.text2 {
  color: #ffffff;
  font-family: 'Amatic SC', cursive !important;
  font-size: 21px !important;
}

/* Grid da imagem */
.grid2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* botao */
.butao {
  margin-top: 32px;
  background: rgba(0, 0, 0, 0.1);

  border-radius: 10px;
  border: 1px solid #e5989b;
}

/* Classe do botao cria pelo mui */
.MuiButton-root {
  color: #ffffff !important;
  /* cor do texto do botao  */
  font-family: 'Amatic SC', cursive !important;
  font-size: 23px !important;
}

/* É o Grid maior por trás dos dois */
.gridmaior {
  background-color: #181717;
  height: calc(100vh - 110px);
  align-items: center;
  justify-content: center;
}