/* importando fonte */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* é o grid de fundo que contém os dois grids menores */
.gridMaiorCadastro {
  display: flex;
  align-items: center;
  background-color: #181717;
  height: calc(100vh - 105px - 75px);
}

/* É o grid que contém a box do */
.grid1Cadastro {
  display: flex;
  align-items: center;
  justify-content: center;

}

.grid2Cadastro {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* estilizando caixa de texto do usuario */
.BoxFormCadastro {
  background: #e9ecef;
  border-radius: 10px;
  border: 2px solid #596275;
  padding: 25px;
  width: 500px;
}

/* estilizando textos */
.textoEntrar {
  color: #000;
  text-align: center;
  font-family: 'Amatic SC', cursive !important;
  font-size: 40px !important;
}

.botaoCadastrar {
  margin-top: 20px !important;
  background-color: #e5989b !important;
  font-family: 'Amatic SC', cursive !important;
  text-decoration: none;
  transition: all 0.5s !important;
}

.botaoCadastrar:hover {
  box-shadow:
    3px -3px 0px #000000;
  -webkit-transform: translateX(6px);
  transform: translateX(6px);

}

.botaoCancelar {
  margin-top: 20px !important;
  margin-right: 20px !important;
  background-color: #ee5253 !important;
  font-family: 'Amatic SC', cursive !important;
  transition: all 0.5s !important;
}

.botaoCancelar:hover {
  box-shadow:
    -3px -3px 0px #000,
    -3px -3px 0px #000 !important;
  -webkit-transform: translateX(6px) !important;
  transform: translateX(6px) !important;

}

.text-decorator-none {
  text-decoration: none;
}