@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.gridFooter {
  background: #181717 !important;
  box-shadow: 0 8px 32px 8px #370617 !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border-top: 1px solid #370617 !important;
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
}



.igIcon {
  padding-top: 15px;
  color: #fff !important;
  transition: all 0.7s;
}

.igIcon:hover {
  color: #370617 !important;
}

/* .icon {
  padding
} */