@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.gridMaior {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridFooter {

  background: #181717 !important;
  box-shadow: 0 8px 32px 8px #e5989b !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4px) !important;
  border-top: 1px solid #e5989b !important;
  display: flex;
  justify-content: center;
  align-items: center;
}


.positionText {
  padding-top: 1px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  color: #ecf0f1;
  font-family: 'Amatic SC', cursive !important;
  font-size: 28px !important;
}

.positionIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.igIcon {
  color: #e5989b !important;
  padding-bottom: 15px;
}

/* .icon {
  padding
} */