.text-decorator-none {
  text-decoration: none;
}

.textosCard {
  color: #181717;
}

.BoxFragmentPostagem {
  display: flex;
  align-items: flex-start;
  padding-bottom: 40px;
  min-height: 100vh;
}

.subtitulo {
  color: #181717;
  font-size: 20px !important;
  font-weight: bold !important;
}

.backBoxPosts {
  padding-left: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row !important;
  flex-wrap: nowrap;
  padding-top: 20px;
}

.botaoBox {
  display: flex;
  justify-content: center;

}

.cardBackHome {
  border-radius: 18px !important;
  background: #e0e0e0 !important;
  box-shadow: 5px 5px 10px #5a5a5a,
    -5px -5px 10px #ffffff !important;
  margin-top: 30px !important;
  margin-right: 50px;
  width: 360px;
}

.botaoPosts {
  background: #181717 !important;
  color: #ffffff !important;
  border: 1px solid #000 !important;
  transition: all 0.5s;

}

.botaoPosts:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}